@charset "UTF-8";
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c8ced3;
}

.table tbody+tbody {
    border-top: 2px solid #c8ced3;
}